<header class='masthead' >
		<div class='brand-container'>
		  <a href='#'>
			<span class='brand-initials'>GP</span>
			<span class='brand-name'>G Patrimoine</span>
		  </a>
		</div>
		<nav>
		  <div class='nav-container'>
			 <div>
			  <a class='slide' routerLink="/home">
				<span class='element'>A</span>
				<span class='name'>ACCEUIL</span>
			  </a>
			</div>
			<div>
			  <a class='slide' routerLink="/pinel">
				<span class='element'>LP</span>
				<span class='name'>Loi Pinel</span>
			  </a>
			</div>
			 
			<div>
			  <input id='slider2' name='slider2' type='checkbox'>
			  <label class='slide has-child' for='slider2'>
				<span class='element'>RDS</span>
				<span class='name'>Résidences De Services</span>
			  </label>
			  <div class='child-menu'>
				<a routerLink="/etudiant">Etudiantes</a>
				<a routerLink="/affaire">D'affaires</a>
				<a routerLink="/tourisme">Tourisme</a>
				<a routerLink="/senior">Seniors</a>
			  </div>
			</div>
			<div>
			  <a class='slide'routerLink="/ehpad">
				<span class='element'>EH</span>
				<span class='name'>EHPAD</span>
			  </a>
			</div>
			<div>
			  <a class='slide' routerLink="/scpi">
				<span class='element'>S</span>
				<span class='name'>SCPI</span>
			  </a>
			</div>
			 <div>
			  <a class='slide'routerLink="/qui_somme_nous">
				<span class='element'>Q.S.N</span>
				<span class='name'>QUI SOMME NOUS!</span>
			  </a>
			</div>
		  </div>
		</nav>
		<div class='social-container'>
		  <span>
			<a class='social-roll github' href='#'></a>
		  </span>
		  <span>
			<a class='social-roll twitter' href='#'></a>
		  </span>
		  <span>
			<a class='social-roll linkedin' href='#'></a>
		  </span>
		  <span>
			<a class='social-roll rss' href='#'></a>
		  </span>
		</div>
	  </header>