	
	<div class="limiter">
      <div class="container-login100">
        <div class="login100-more" style="background-image: url('assets/images/affaire.jpg');">
          <div class="contair">
            <div class="txt" id="txt5" >
              <p style="color: #000;">
                Quelle loi de défiscalisation choisir en 2018 ? Il est encore temps de profiter de la loi de finances 2012 et des avantages fiscaux accordés dans le cadre d'investissement immobilier à but locatif. En fonction de votre profil et de vos objectifs, le simulateur vous indique la loi de défiscalisation la plus adaptée à votre profil.
              </p>
            </div>
            <div class="txt" id="txt1" >
                <h3>
                    Utilité de la loi Pinel
                  </h3>
                <p>
                  
                    Pour favoriser les classes moyennes et modestes, principalement celles juste au-dessus des logements sociaux, les plafonds de ressources des locataires seront plus bas que ceux du Scellier intermédiaire. Des loyers sont fixés à 20% de moins que ceux du marché. Les services de l’état arrêteront les loyers de références et grâce aux observatoires, des loyers seront établis par le gouvernement agglomération par agglomération. La loi Pinel ne sera pas active dans certaines parties du territoire national car il y aura moins de zones que dans le Scellier pour être plus efficace aux vraies nécessités de logement.
                </p>
              </div>
              <div class="txt" id="txt2" >
                  <h3>
                      La loi sur l'EHPAD
                    </h3>
                <p>
                  
                  L’essentiel sur l’investissement de résidence EHPAD. Comment réussir son investissement dans les résidences EHPAD. De nombreux investisseurs se tournent vers l'investissement en EHPAD (Etablissement d'Hébergement pour Personnes Agées Dépendantes) car il constitue le placement idéal pour la retraite. En effet, il permet d'obtenir des revenus supplémentaires nets d'impôt et offre une garantie locative par le marché de la dépendance et par le bail.
                </p>
              </div>
              <div class="txt"id="txt3" >
                  <h3>
                      Principe de fonctionnement des SCPI
                    </h3>
                <p>
                  
                  Avant tout investissement, une règle d'or consiste dans le fait que l'investisseur doit comprendre le fonctionnement de l'actif dans lequel il souhaite investir. Comprendre les SCPI (Société Civile en Placement Immobilier – pour découvrir la définition, cliquer ici c'est vous permettre de réaliser un bon investissement en immobilier, aussi appelé communément «Pierre Papier ».
                </p>
              </div>
              <div class="txt"id="txt4" >
                  <h3>
                      Qu'est-ce qu'une résidence services ?
                    </h3>
                <p>
                  
                Intégrer les différents éléments qui constituent une résidence services est une étape indispensable pour qui veut réussir un investissement LMNP. L'univers des résidences services est en effet particulier et implique de parfaitement comprendre ses particularités et tout particulièrement celles qui touchent à la présence d'un gestionnaire et au recours à un bail commercial.
                </p>
              </div>
          </div>
          
          <div class="cont_btn">
            <input type="submit" class="btn" name="btn"  id="btn1" value="loi Pinel">
            <input type="submit" class="btn" name="btn"  id="btn2" value="EHPAD">
            <input type="submit" class="btn" name="btn"  id="btn3" value="SCPI">
            <input type="submit" class="btn" name="btn"  id="btn4" value="RDS">
          </div>
          
        </div>
  
        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
          <form method="POST" class="register-form" id="register-form" novalidate="novalidate">
            <div><p style="color: #393939;text-align: center;">Déposez votre demande et recevez une simulation d'investissement adaptée par l'un de nos partenaires.</p></div>
            <div class="form-radio-group" id="form_rd">            
                  <div class="form-radio-item">
                    <input type="radio" name="sexe" id="Femme" checked="">
                    <label for="Femme">Femme</label>
                    <span class="check"></span>
                  </div>
                  <div class="form-radio-item">
                    <input type="radio" name="sexe" id="Homme">
                    <label for="Homme">Homme</label>
                    <span class="check"></span>
                  </div>
                  
                </div>
            <div class="form-row">
              <div class="form-group">
                <div class="form-input">
                  <label for="first_name" class="required">Nom</label>
                  <input type="text" name="first_name" id="first_name">
                </div>
                <div class="form-input">
                  <label for="last_name" class="required">Prénom</label>
                  <input type="text" name="last_name" id="last_name">
                </div>
                <div class="form-input">
                  <label for="company" class="required">Code postal</label>
                  <input type="text" name="company" id="company">
                </div>
                <div class="form-input">
                  <label for="email" class="required">Email</label>
                  <input type="text" name="email" id="email">
                </div>
                <div class="form-input">
                  <label for="phone_number" class="required">Téléphone</label>
                  <input type="text" name="phone_number" id="phone_number">
                </div>
              </div>
          
            </div>
            <div class="form-radio">
                 <div class="label-flex">
                  <label for="payment"> Que recherchez vous ? * </label>
                  
                </div>
                <div class="form-radio-group">            
                  <div class="form-radio-item">
                    <input type="radio" name="payment" id="loi_pinel" checked="">
                    <label for="cash">Loi Pinel</label>
                    <span class="check"></span>
                  </div>
                  <div class="form-radio-item">
                    <input type="radio" name="payment" id="R_etudiant" >
                    <label for="cash">Résidences d'etudiants</label>
                    <span class="check"></span>
                  </div>
                  <div class="form-radio-item">
                    <input type="radio" name="payment" id="cheque">
                    <label for="cheque">Résidences d'affaires</label>
                    <span class="check"></span>
                  </div>
                  
                  <div class="form-radio-item">
                    <input type="radio" name="payment" id="rd">
                    <label for="rd"> Résidences Tourismes</label>
                    <span class="check"></span>
                  </div>
                  <div class="form-radio-item">
                    <input type="radio" name="payment" id="demand">
                    <label for="demand">Résidences Seniors</label>
                    <span class="check"></span>
                  </div>
                  <div class="form-radio-item">
                    <input type="radio" name="payment" id="rd1">
                    <label for="rd1">  Ehpad</label>
                    <span class="check"></span>
                  </div>
                </div> 
              </div>
            <div class="Epargne-m">
              <label>Epargne mensuelle*</label>
              <div class="price_slider ui-slider ui-slider-horizontal">
                <div id="slider-margin1"></div>
                <span class="donate-value" id="value-lower"></span>
              </div>
            </div>
            <div class="Imposition-An*">
              <label>Imposition annuelle*</label>
              <div class="price_slider ui-slider ui-slider-horizontal">
                <div id="slider-margin2"></div>
                <span class="donate-value" id="value-lower"></span>
              </div>
            </div>
            <div>
            <input class="inp-cbx" id="cbx" type="checkbox" style="display: none;"/>
  <label class="cbx" for="cbx"><span>
      <svg width="12px" height="10px" viewbox="0 0 12 10">
        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
      </svg></span><span>J'accepte de recevoir la newsletter Gpatrimoine et ses offres.</span></label>
      <input class="inp-cbx" id="cb" type="checkbox" style="display: none;"/>
  <label class="cbx" for="cb"><span>
      <svg width="12px" height="10px" viewbox="0 0 12 10">
        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
      </svg></span><span>J'accepte de recevoir les offres partenaires.</span></label>
      </div>
            <div class="form-submit">
              <input type="submit" value="Submit" class="submit" id="submit" name="submit">
              
            </div>
          </form>
        </div>
      </div>
    </div>
  
  
      
    
 
    