
	<div class="limiter">
      <div class="container-login100">
        <div class="login100-more" style="background-image: url('assets/images/contact-us.jpg');">
          <div class="contair">
            <div class="txt" id="txt5" ><p style="color: #000;">Fondée en 2018, la société La FABRICATION DU WEB(Agence Webmarketing spécialisée dans les transactions immobiliéres ) est éditrice du site g-partimoine.com qui est un des leaders français de la mise en relation entre les particuliers et les professionnels de l'investissement pinel , Ehpad et Résidences de Services , ... .<br>
  
            g-partimoine.com développe et enrichit en permanence son service permettant aux particuliers de déposer des demandes d'informations qui ont attrait à l'investissement immobilier... et le transmet à son réseau de partenaires sélectionnés.<br>
  
            En 1 an , la société g-patrimoine c'est plus de 5 000 demandes de particuliers collectés et transmis à ses partenaires Pinel, Ehpad, Résidences Affaires, et Résidences de tourisme ...</p></div>
            
            
          </div>
          
          
          <!--<div class="cont_btn">
            <input type="submit" class="btn" name="btn"  id="btn1" value="Résidence ">
            <input type="submit" class="btn" name="btn"  id="btn2" value="Avantages">
            <input type="submit" class="btn" name="btn"  id="btn3" value="bail commercial ">
            <input type="submit" class="btn" name="btn"  id="btn4" value="obligations">
          </div>-->
          
        </div>
  
        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
          <form method="POST" class="register-form" style="width: 100%;" id="register-form" novalidate="novalidate">
            <div class="form-row">
              <div class="form-group">
                <div class="form-select">
                    <label for="first_name" class="required">Votre imposition annuelle</label>
                                      <select name="sources" id="sources" class="custom-select sources" placeholder="choisir...">
                                        <option value="profile">Mois de 2500€</option>
                                        <option value="word">Entre 2500€ et 2999€</option>
                                        <option value="word">Entre 3000€ et 3999€</option>
                                        <option value="word">Entre 4000€ et 4999€</option>
                                        <option value="word">Plus de 5000€</option>
                                      </select>
                                   
                </div>
                <div class="form-select">
                    <label for="first_name" class="required">Sélectionnez votre âge</label>
                                      <select name="sources" id="sources" class="custom-select sources" placeholder="choisir...">
                                        <option value="profile">De 18 à 29ans</option>
                                        <option value="profile">De 30 à 39ans</option>
                                        <option value="profile">De 40 à 49ans</option>
                                        <option value="profile">De 50 à 59ans</option>
                                        <option value="profile">60ans et plus</option>
                                      </select>
                                   
                </div>
  
  
                <div class="form-input">
                  <label for="first_name" class="required">Saisissez votre code postal</label>
                  <input type="text" name="first_name" id="first_name">
                </div>
                <div class="form-input">
                  <label for="budget" class="required">BUDGET</label>
                  <input type="text" name="budget" id="budget">
                </div>
                <div class="form-input">
                  <label for="last_name" class="required">Saisissez VOTRE NOM</label>
                  <input type="text" name="last_name" id="last_name">
                </div>
                <div class="form-input">
                  <label for="company" class="required">Saisissez VOTRE PRÉNOM</label>
                  <input type="text" name="company" id="company">
                </div>
                <div class="form-input">
                  <label for="email" class="required">Saisissez VOTRE E-MAIL</label>
                  <input type="text" name="email" id="email">
                </div>
                <div class="form-input">
                  <label for="phone_number" class="required">Saisissez VOTRE TÉLÉPHONE</label>
                  <input type="text" name="phone_number" id="phone_number">
                </div>
              </div>
          
            </div>
            
            
            <div>
            <input class="inp-cbx" id="cbx" type="checkbox" style="display: none;"/>
  <label class="cbx" for="cbx"><span>
      <svg width="12px" height="10px" viewbox="0 0 12 10">
        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
      </svg></span><span>J'accepte de recevoir la newsletter Gpatrimoine et ses offres.</span></label>
      <input class="inp-cbx" id="cb" type="checkbox" style="display: none;"/>
  <label class="cbx" for="cb"><span>
      <svg width="12px" height="10px" viewbox="0 0 12 10">
        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
      </svg></span><span>J'accepte de recevoir les offres partenaires.</span></label>
      </div>
            <div class="form-submit">
              <input type="submit" value="Submit" class="submit" id="submit" name="submit">
              
            </div>
          </form>
        </div>
      </div>
    </div>