
	<div class="limiter">
      <div class="container-login100">
        <div class="login100-more" style="background-image: url('assets/images/senior.jpg');">
          <div class="contair">
            <div class="txt" id="txt5" >
              <p style="color: #000;">
                Aujourd’hui, nous sommes chaque jour un peu plus nombreux, et vivons de plus en plus longtemps. Depuis quelques années, nous sommes entrés de plein pied dans le «Papy Boom». Conséquence : d’après les estimations, les seniors représenteront en 2035 un tiers de la population française, soit plus de 20 millions de personnes. A ce titre, un marché bien spécifique de la résidence de services seniors commence à émerger et se structurer en France. Et pour le particulier désireux de se constituer un patrimoine ou de se créer des revenus complémentaires, les attraits d’un investissement en résidence senior sont nombreux.
              </p>
            </div>
            <div class="txt"id="txt1" >
                <h3>
                    La défiscalisation résidence</h3>
              <p>
                
                  <br>LVous cherchez un placement dans la pierre ? Investir dans un appartement en résidence service seniors (RSS) peut être l’opportunité de diversifier votre portefeuille. S’il reste encore un marché de niche, ce type de placement séduit de plus en plus d’investisseurs immobiliers. Et pour cause : le marché est prometteur, porté par la pyramide des âges. « Moins de 2 % des seniors sont couverts par ce type de logement qui sont au nombre de 45 000 en France, rappelle Sébastien Lorrain, directeur résidentiel chez CBRE, société en conseil immobilier. Et les 40 000 logements supplémentaires en cours de construction ne sont qu’une goutte d’eau quand on sait que le nombre des seniors va grimper de 60 % d’ici à 2037. »</p></div>
            <div class="txt"id="txt2" >
                <h3>Quels avantages fiscaux ?</h3>
              <p>
                
                <br>Vous avez le choix entre opter pour un abattement de 50 % sur vos loyers (vous ne serez imposé que sur la moitié des sommes perçues) ou mieux encore, d’amortir 80 % de vos loyers chaque année, « c’est-à-dire de sortir de l’assiette de votre impôt 80 % de vos loyers perçus », explique Jean-Marcel Rocchesani, conseiller en patrimoine, fondateur du site Lmnp.com. Comment ? « En amortissant chaque année les coûts de construction de votre bien, le gros œuvre, ses frais de toiture, d’électricité, etc. », précise l’expert. Au final, seuls 20 % de vos loyers annuels seront donc imposables. Mais on peut encore réduire cette facture en empruntant et en déduisant ses intérêts d’emprunt.</p></div>
            <div class="txt"id="txt3" >
                <h3>Comment se présente le bail commercial ?</h3>
              <p>
                
                <br>Chaque bail est rattaché à un programme immobilier spécifique. Mais il reste dans tous les cas LE document qui prime : autant on visite rarement le bien à acheter, autant il faut passer au crible ce document. Le bail commercial stipule la durée du bail (12 ans en moyenne dans le neuf, 9 ans dans l’ancien), les obligations et contreparties de chacun. </p></div>
            <div class="txt"id="txt4" >
                <h3>Vos obligations ?</h3>
              <p>
               
                <br>À vous d’acquitter la taxe foncière et le renouvellement obligatoire tous les 9 ans du mobilier (lit, table, étagère, luminaire… stipulé dans le bail). Comptez entre 3 000 € à 10 000 € selon la taille de votre bien. Les charges de copropriété, travaux et mises aux normes vous incombent normalement mais de plus en plus de gestionnaires (Orpéa, Steva…) les prennent à leur compte. Dans tous les cas, pensez à vous faire assister d’un expert-comptable pour établir votre tableau d’amortissement et vos déclarations au fisc.</p></div>
            
          </div>
          
          
          <div class="cont_btn">
            <input type="submit" class="btn" name="btn"  id="btn1" value="Résidence ">
            <input type="submit" class="btn" name="btn"  id="btn2" value="Avantages">
            <input type="submit" class="btn" name="btn"  id="btn3" value="bail commercial ">
            <input type="submit" class="btn" name="btn"  id="btn4" value="obligations">
          </div>
          
        </div>
  
        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
          <form method="POST" class="register-form" id="register-form" novalidate="novalidate">
            <div><p style="color: #393939;text-align: center;">éposez votre demande et télécharger votre guide gratuitement en attendant de recevez une simulation d'investissement adaptée par l'un de nos partenaires.</p></div>
            <div class="form-radio-group" id="form_rd">            
                  <div class="form-radio-item">
                    <input type="radio" name="sexe" id="Femme" checked="">
                    <label for="Femme">Femme</label>
                    <span class="check"></span>
                  </div>
                  <div class="form-radio-item">
                    <input type="radio" name="sexe" id="Homme">
                    <label for="Homme">Homme</label>
                    <span class="check"></span>
                  </div>
                  
                </div>
            <div class="form-row">
              <div class="form-group" >
                <div class="form-input">
                  <label for="first_name" class="required">Nom</label>
                  <input type="text" name="first_name" id="first_name">
                </div>
                <div class="form-input">
                  <label for="last_name" class="required">Prenom</label>
                  <input type="text" name="last_name" id="last_name">
                </div>
                <div class="form-input">
                  <label for="company" class="required">Code Postal</label>
                  <input type="text" name="company" id="company">
                </div>
                <div class="form-input">
                  <label for="email" class="required">Email</label>
                  <input type="text" name="email" id="email">
                </div>
                <div class="form-input">
                  <label for="phone_number" class="required">Téléphone</label>
                  <input type="text" name="phone_number" id="phone_number">
                </div>
              </div>
          
            </div>
            
            <div class="Epargne-m">
              <label>Epargne mensuelle*</label>
              <div class="price_slider ui-slider ui-slider-horizontal">
                <div id="slider-margin1"></div>
                <span class="donate-value" id="value-lower"></span>
              </div>
            </div>
            <div class="Imposition-An*">
              <label>Imposition annuelle*</label>
              <div class="price_slider ui-slider ui-slider-horizontal">
                <div id="slider-margin2"></div>
                <span class="donate-value" id="value-lower"></span>
              </div>
            </div>
            <div>
            <input class="inp-cbx" id="cbx" type="checkbox" style="display: none;"/>
  <label class="cbx" for="cbx"><span>
      <svg width="12px" height="10px" viewbox="0 0 12 10">
        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
      </svg></span><span>J'accepte de recevoir la newsletter Gpatrimoine et ses offres.</span></label>
      <input class="inp-cbx" id="cb" type="checkbox" style="display: none;"/>
  <label class="cbx" for="cb"><span>
      <svg width="12px" height="10px" viewbox="0 0 12 10">
        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
      </svg></span><span>J'accepte de recevoir les offres partenaires.</span></label>
      </div>
            <div class="form-submit">
              <input type="submit" value="Submit" class="submit" id="submit" name="submit">
              
            </div>
          </form>
        </div>
      </div>
    </div>