
	<div class="limiter">
      <div class="container-login100">
        <div class="login100-more" style="background-image: url('assets/images/SCPI.jpg');">
          <div class="contair">
            <div class="txt" id="txt5" >
              <p style="color: #000;">
                La loi Pinel Recentrée ou loi Pinel 2018 est le nouveau dispositif Pinel applicable depuis le 1er janvier 2018, il a pris le relais de la loi Pinel classique qui s'est arrêté au 31 décembre 2017.
                La loi Pinel est un dispositif de défiscalisation qui s'adresse aux particuliers qui souhaitent investir dans un logement neuf dédié à la location.
                Cette nouvelle législation spécifique au secteur immobilier privé, concerne tout investissement réalisé par un contribuable domicilié en France, qui acquiert un logement neuf ou en état futur d’achèvement. 
              </p>
            </div>
            <div class="txt"id="txt1" >
                <h3>
                    la SCPI
                </h3>
              <p>
                
                SCPI signifie Société Civile de Placement Immobilier. C’est un placement immobilier particulier : l’investisseur achète des parts dans une société qui investit, elle dans des immeubles. La société dans laquelle se fait l’investissement est nommée société de gestion. L’objet d’une société civile de placement immobilier est l’acquisition et la gestion d’un patrimoine immobilier professionnel. La société de gestion s’occupe de collecter de l’argent auprès de particuliers, trouver des biens dans lesquels investir, gérer ce parc immobilier et redistribuer les loyers et/ou les avantages fiscaux à ses porteurs de parts, les « associés ». 
                </p>
            </div>
            <div class="txt"id="txt2" >
                <h3>
                    Pourquoi l’investissement en SCPI
                </h3>
              <p>
                
                L’investissement SCPI est le plus simple investissement immobilier car la société de gestion s’occupe de tout. Votre rôle : placer votre argent et recevoir les dividendes issus de votre placement financier. La souscription de parts de SCPI est un placement moyen et long terme. Les objectifs de création de patrimoine évoluent avec le temps. La notion de patrimoine équilibré ne renvoie donc pas à un concept statique mais bien à un état en constante évolution avec une gestion précise et permanente. Plusieurs types de SCPI
              </p>
            </div>
            <div class="txt"id="txt3" >
                <h3>
                    Dans quel type de SCPI investir ?
                </h3>
              <p>
                
                Ce type d’investissement a un objectif plus long terme qu’une SCPI de rendement. L’acquisition concerne généralement des biens immobiliers résidentiels à faibles loyers et avec un fort potentiel de valorisation à la revente. Une fois le type d’investissement SCPI choisi, il vous faudra décider du moyen d’investissement : en cash, par crédit, en démembrement, ou en assurance-vie. Besoin d’information pour investir en SCPI ? Remplissez le formulaire et obtenez une étude personnalisée, une simulation d’investissement en SCPI grâce à nos experts partenaires en gestion de patrimoine. Cette simulation vous permettra de calculer la réduction d’impôt dont vous pouvez bénéficier, l’emprunt éventuel à faire, les revenus mensuels perçus
              </p>
            </div>
          
            
          </div>
          
          <div class="cont_btn">
            <input type="submit" class="btn" name="btn"  id="btn1" value="SCPI">
            <input type="submit" class="btn" name="btn"  id="btn2" value="pmourquoi SCPI">
            <input type="submit" class="btn" name="btn"  id="btn3" value="Quel type SCPI ?">
          
          </div>
          
        </div>
  
        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
          <form method="POST" class="register-form" id="register-form" novalidate="novalidate">
            <div><p style="color: #393939;text-align: center;">Déposez votre demande et télécharger votre guide gratuitement en attendant de recevez une simulation d'investissement adaptée par l'un de nos partenaires.</p></div>
            <div class="form-radio-group" id="form_rd">            
                  <div class="form-radio-item">
                    <input type="radio" name="sexe" id="Femme" >
                    <label for="Femme">Femme</label>
                    <span class="check"></span>
                  </div>
                  <div class="form-radio-item">
                    <input type="radio" name="sexe" id="Homme" checked="true">
                    <label for="Homme">Homme</label>
                    <span class="check"></span>
                  </div>
                  
                </div>
            <div class="form-row">
              <div class="form-group" >
                <div class="form-input">
                  <label for="first_name" class="required">Nom</label>
                  <input type="text" name="first_name" id="first_name">
                </div>
                <div class="form-input">
                  <label for="last_name" class="required">Prénom</label>
                  <input type="text" name="last_name" id="last_name">
                </div>
                <div class="form-input">
                  <label for="company" class="required">Code postal</label>
                  <input type="text" name="company" id="company">
                </div>
                <div class="form-input">
                  <label for="email" class="required">Email</label>
                  <input type="text" name="email" id="email">
                </div>
                <div class="form-input">
                  <label for="phone_number" class="required">Téléphone </label>
                  <input type="text" name="phone_number" id="phone_number">
                </div>
              </div>
          
            </div>
            <div class="Epargne-m">
              <label>Budget à investir</label>
              <div class="price_slider ui-slider ui-slider-horizontal">
                <div id="slider-margin3"></div>
                <span class="donate-value" id="value-lower"></span>
              </div>
            </div>
            <div class="form-radio">
                 <div class="label-flex">
                  <label for="payment" class="required">Type de SCPI</label>
                  
                </div>
                <div class="form-radio-group">            
                  <div class="form-radio-item">
                    <input type="radio" name="payment" id="cash" checked="">
                    <label for="cash">SCPI de rendement</label>
                    <span class="check"></span>
                  </div>
                  <div class="form-radio-item">
                    <input type="radio" name="payment" id="cheque">
                    <label for="cheque">SCPI fiscal</label>
                    <span class="check"></span>
                  </div>
                  
                </div> 
              </div>
            
            <div>
            <input class="inp-cbx" id="cbx" type="checkbox" style="display: none;"/>
  <label class="cbx" for="cbx"><span>
      <svg width="12px" height="10px" viewbox="0 0 12 10">
        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
      </svg></span><span>J'accepte de recevoir la newsletter Gpatrimoine et ses offres.</span></label>
      <input class="inp-cbx" id="cb" type="checkbox" style="display: none;"/>
  <label class="cbx" for="cb"><span>
      <svg width="12px" height="10px" viewbox="0 0 12 10">
        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
      </svg></span><span>J'accepte de recevoir les offres partenaires.</span></label>
      </div>
            <div class="form-submit">
              <input type="submit" value="Submit" class="submit" id="submit" name="submit">
              
            </div>
          </form>
        </div>
      </div>
    </div>