
	<div class="limiter">
      <div class="container-login100">
        <div class="login100-more" style="background-image: url('images/affairee.jpg');">
          <div class="contair">
            <div class="txt" id="txt5" >
              <p style="color: #000;">
                  Les résidences d'affaires, encore appelées "appart hôtels" s'adressent en priorité aux personnes en mobilité dans le cadre de leur activité professionnelle : mutation, mission courte, déplacement professionnel, formation, etc. Les logements en résidence d'affaires sont à mi-chemin entre la chambre d'hôtel et l'appartement meublé. En effet, les surfaces sont supérieures à celle des traditionnelles chambres d'hôtel, et chaque appartement dispose d'une kitchenette équipée. Il peut même s'agir de grands appartements pouvant comprendre jusqu'à 3 chambres. De plus, les tarifs sont généralement largement inférieurs à ceux de l'hôtel et dégressifs en fonction de la durée de location. 
              </p>
            </div>
            <div class="txt"id="txt1" >
                <h3>
                    résidence d’affaires
                </h3>
                <p>
                  
                  Une résidence d’affaires est un logement, en général de la taille d’un studio, comportant suffisamment de mobilier pour y vivre. Les occupants y restent rarement plus de deux nuits, le temps d’assister à des réunions de travail. Les clients visés sont les grandes sociétés ayant des marchés dans toute la France, mais également les entreprises étrangères. Une résidence d’affaires inclut des salles de réunion spécialement équipées pour les séminaires. Il faut savoir qu’il est moins cher de loger ses collaborateurs dans ce type de résidence, plutôt que de réserver un hôtel et de payer leurs notes de frais. Ces ensembles de services sont stratégiquement placés dans des grandes métropoles, proche des aéroports, gares et autoroutes 
                  </p>
              </div>
              <div class="txt"id="txt2" >
                  <h3>
                      Pourquoi investir dans une résidence d’affaires
                  </h3>
                <p>
                  
                  Lorsqu’un investisseur acquiert une résidence d’affaire meublée, il en confie la gestion à une société exploitante. Les programmes immobiliers neufs proposent tous un service clé en main : résidence et exploitation. L’exploitant verse un loyer périodique à l’acquéreur, ce qui équivaut à placer son argent pour percevoir une rente. Étant donné que ce type de logement doit être placé dans des grandes métropoles, le prix au mètre carré augmente de façon constante au cours des années. Il s’agit donc uniquement d’un investissement immobilier locatif, dans le but de percevoir une rente ou de revendre à moyen ou long terme. A cela vient s’ajouter un aspect fiscal relativement intéressant, dans le cadre de la loi Censi-Bouvard. 
                </p>
              </div>
              <div class="txt"id="txt3" >
                  <h3>
                      La remise d’impôt de la loi Censi-Bouvard
                  </h3>
                <p>
                 
                  Lorsque la résidence d’affaires est neuve, l’investisseur bénéficie d’une remise d’impôt de 11% du coût d’achat. Par exemple, une résidence ayant coûté 150 000 €, prix du logement et frais de notaire inclus, donne droit à une réduction de 16 500 €. Cette réduction s’applique directement sur la facture fiscale de l’investisseur, en neuf tranches réparties sur neuf ans. Dans notre exemple, l’investisseur déduira 1833 € du montant de ses impôts sur le revenu, pendant neuf ans. Il a obligation en retour d’acquérir le statut de LMNP (loueur meublé non professionnel) ou LMP (loueur meublé professionnel) en fonction de ses revenus. Il doit également exploiter la résidence sur une durée minimum de 9 ans.
                </p>
              </div>
              <div class="txt"id="txt4" >
                  <h3>
                      LRégime fiscal réel simplifié ou micro foncier ?
                  </h3>
                <p>
                  
                  L’investisseur peut opter pour le régime fiscal du réel simplifié. Cette option lui permet de déduire de ses loyers perçus toutes les charges relatives à l’exploitation de sa résidence principale. Le résultat est le plus souvent la création d’un déficit foncier, imputable sous conditions sur ses revenus. Il dispose également de la possibilité de choisir le régime du micro foncier, qui lui permet un abattement de 50% sur les loyers perçus. Il ne sera donc imposé que sur la moitié des revenus tirés de sa résidence d’affaires meublée. 
                </p>
              </div>
          </div>
          
          <div class="cont_btn">
            <input type="submit" class="btn" name="btn"  id="btn1" value="R.affaires">
            <input type="submit" class="btn" name="btn"  id="btn2" value="Investir R.A">
            <input type="submit" class="btn" name="btn"  id="btn3" value="RILCB">
            <input type="submit" class="btn" name="btn"  id="btn4" value="RFRS">
          </div>
          
        </div>
  
        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
          <form method="POST" class="register-form" id="register-form" novalidate="novalidate">
            <div><p style="color: #393939;text-align: center;">Déposez votre demande et recevez une simulation d'investissement adaptée par l'un de nos partenaires.</p></div>
            <div class="form-radio-group" id="form_rd">            
                  <div class="form-radio-item">
                    <input type="radio" name="sexe" id="Femme" checked="">
                    <label for="Femme">Femme</label>
                    <span class="check"></span>
                  </div>
                  <div class="form-radio-item">
                    <input type="radio" name="sexe" id="Homme">
                    <label for="Homme">Homme</label>
                    <span class="check"></span>
                  </div>
                  
                </div>
            <div class="form-row">
              <div class="form-group">
                <div class="form-input">
                  <label for="first_name" class="required">Nom</label>
                  <input type="text" name="first_name" id="first_name">
                </div>
                <div class="form-input">
                  <label for="last_name" class="required">Prénom</label>
                  <input type="text" name="last_name" id="last_name">
                </div>
                <div class="form-input">
                  <label for="company" class="required">Code Postal</label>
                  <input type="text" name="company" id="company">
                </div>
                <div class="form-input">
                  <label for="email" class="required">Email</label>
                  <input type="text" name="email" id="email">
                </div>
                <div class="form-input">
                  <label for="phone_number" class="required">Téléphone</label>
                  <input type="text" name="phone_number" id="phone_number">
                </div>
              </div>
          
            </div>
            
            <div class="Epargne-m">
              <label>Epargne mensuelle*</label>
              <div class="price_slider ui-slider ui-slider-horizontal">
                <div id="slider-margin1"></div>
                <span class="donate-value" id="value-lower"></span>
              </div>
            </div>
            <div class="Imposition-An*">
              <label>Imposition annuelle*</label>
              <div class="price_slider ui-slider ui-slider-horizontal">
                <div id="slider-margin2"></div>
                <span class="donate-value" id="value-lower"></span>
              </div>
            </div>
            <div>
            <input class="inp-cbx" id="cbx" type="checkbox" style="display: none;"/>
  <label class="cbx" for="cbx"><span>
      <svg width="12px" height="10px" viewbox="0 0 12 10">
        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
      </svg></span><span>J'accepte de recevoir la newsletter Gpatrimoine et ses offres.</span></label>
      <input class="inp-cbx" id="cb" type="checkbox" style="display: none;"/>
  <label class="cbx" for="cb"><span>
      <svg width="12px" height="10px" viewbox="0 0 12 10">
        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
      </svg></span><span>J'accepte de recevoir les offres partenaires.</span></label>
      </div>
            <div class="form-submit">
              <input type="submit" value="Submit" class="submit" id="submit" name="submit">
              
            </div>
          </form>
        </div>
      </div>
    </div>