
	<div class="limiter">
      <div class="container-login100">
        <div class="login100-more" style="background-image: url('assets/images/bg-01.jpg');">
          <div class="contair">
            <div class="txt" id="txt5" ><p style="color: #000;">Les étudiants recherchent essentiellement des studios ou des T1, de préférence loués meublés pour limiter au maximum leurs frais d'installation. C’est donc la grande majorité de logement que l’on retrouve dans les résidences pour étudiants avec services.</p></div>
            <div class="txt"id="txt1" >
                <h3>l’investissement en résidence étudiante</h3>

              <p>
                <br>Le concept de l’investissement consiste pour l’investisseur à acquérir une ou plusieurs chambres au sein d’une résidence en signant un bail commercial avec une société de gestion qui s’occupe de l’exploitation. La durée standard du bail commercial est de 9 ans. Le gestionnaire s’occupe de la gestion au quotidien de la résidence, de son entretien, d’effectuer les réparations nécessaires, de trouver des locataires et de louer aux meilleures conditions. Dans la majorité des cas, le gestionnaire loue les chambres à des étudiants, mais il arrive parfois que durant les périodes estivales ces derniers louent les chambres à une clientèle touristique. L’investisseur ne s’occupe de rien et touche un loyer garanti par le bail commercial quelque soit le taux de remplissage de la résidence.</p></div>
            <div class="txt"id="txt2" >
                <h3>Les avantages de l’investissement en résidence étudiante</h3>

              <p>
              <br>aInvestir en résidence étudiante est avant tout un investissement gagnant/gagnant. En effet, l’investisseur se construit un patrimoine dans le temps et un complément de revenu sécurisé si l’investissement est réalisé comptant tandis que des étudiants ont la possibilité de se loger dans un contexte de demande très forte sur un marché saturé. Le taux d’occupation dans les résidences étudiantes est très élevé malgré le turn-over important. Le statut de loueur en meublé (LMNP / LMP)est aussi un point fondamental qui rend cet investissement particulièrement attractif dans le temps d’un point de vue fiscal grâce à l’amortissement de la valeur du bien ou la réduction Censi-Bouvard. La possibilité de se faire rembourser 100% de la TVA est aussi un avantage important. Le rendement est correct dans le contexte économique dificile sur un marché porteur et sécurisé et les tickets d’entrée sont parmi les plus abordables du marché quand on parle d’immobilier.</p></div>
            <div class="txt"id="txt3" >
                <h3>La qualité du bâtiment</h3>

              <p>
                <br>C’est un des points importants à regarder lors d’un investissement en résidence étudiante. Une résidence de bonne qualité et bien conçue vieillira moins rapidement et facilitera la location de l’appartement. Les principaux opérateurs proposent aujourd’hui des programmes de très bonne qualité qui permettent de répondre aux attentes à la fois des investisseurs et des étudiants. Il n’est pas rare de voir à la vente des programmes labellisés BBC bien que cette norme ne soit pas obligatoire.</p></div>
            <div class="txt"id="txt4" >
                <h3>Le gestionnaire de la résidence étudiante</h3>

              <p>
                <br>Le gestionnaire est la pierre angulaire d’un investissement en résidence étudiante car c’est lui qui se charge de trouver des locataires et de verser les loyers à l’investisseur. Le gestionnaire s’occupe aussi de la gestion de A à Z, des travaux d’entretien… Il convient donc de sélectionner un gestionnaire de qualité, ce qui garantira la pérennité de l’investissement sur le long terme. L’investisseur signe un bail commercial avec un gestionnaire, les deux parties sont liées par ce contrat dans le temps. Le bail commercial doit être bien étudié par l’investisseur avant un investissement en résidence étudiante (répartition des charges, rentabilité, paiement des loyers, durée du bail…).</p></div>
            
          </div>
          
          
          <div class="cont_btn">
            <input type="submit" class="btn" name="btn"  id="btn1" value="Investissement">
            <input type="submit" class="btn" name="btn"  id="btn2" value="Avantages">
            <input type="submit" class="btn" name="btn"  id="btn3" value="Qualité ">
            <input type="submit" class="btn" name="btn"  id="btn4" value="Gestionnaire ">
          </div>
          
        </div>
  
        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
          <form method="POST" class="register-form" id="register-form" novalidate="novalidate">
            <div><p style="color: #393939;text-align: center;">éposez votre demande et télécharger votre guide gratuitement en attendant de recevez une simulation d'investissement adaptée par l'un de nos partenaires.</p></div>
            <div class="form-radio-group" id="form_rd">            
                  <div class="form-radio-item">
                    <input type="radio" name="sexe" id="Femme" checked="">
                    <label for="Femme">Femme</label>
                    <span class="check"></span>
                  </div>
                  <div class="form-radio-item">
                    <input type="radio" name="sexe" id="homme">
                    <label for="homme">Homme</label>
                    <span class="check"></span>
                  </div>
                  
                </div>
            <div class="form-row">
              <div class="form-group">
                <div class="form-input">
                  <label for="first_name" class="required">Nom</label>
                  <input type="text" name="first_name" id="first_name">
                </div>
                <div class="form-input">
                  <label for="last_name" class="required">Prénom</label>
                  <input type="text" name="last_name" id="last_name">
                </div>
                <div class="form-input">
                  <label for="company" class="required">Code postal</label>
                  <input type="text" name="company" id="company">
                </div>
                <div class="form-input">
                  <label for="email" class="required">Email</label>
                  <input type="text" name="email" id="email">
                </div>
                <div class="form-input">
                  <label for="phone_number" class="required">Téléphone</label>
                  <input type="text" name="phone_number" id="phone_number">
                </div>
              </div>
          
            </div>
            
            <div class="Epargne-m">
              <label>Epargne mensuelle*</label>
              <div class="price_slider ui-slider ui-slider-horizontal">
                <div id="slider-margin1"></div>
                <span class="donate-value" id="value-lower"></span>
              </div>
            </div>
            <div class="Imposition-An*">
              <label>Imposition annuelle*</label>
              <div class="price_slider ui-slider ui-slider-horizontal">
                <div id="slider-margin2"></div>
                <span class="donate-value" id="value-lower"></span>
              </div>
            </div>
            <div>
            <input class="inp-cbx" id="cbx" type="checkbox" style="display: none;"/>
  <label class="cbx" for="cbx"><span>
      <svg width="12px" height="10px" viewbox="0 0 12 10">
        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
      </svg></span><span>J'accepte de recevoir la newsletter Gpatrimoine et ses offres.</span></label>
      <input class="inp-cbx" id="cb" type="checkbox" style="display: none;"/>
  <label class="cbx" for="cb"><span>
      <svg width="12px" height="10px" viewbox="0 0 12 10">
        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
      </svg></span><span>J'accepte de recevoir les offres partenaires.</span></label>
      </div>
            <div class="form-submit">
              <input type="submit" value="Submit" class="submit" id="submit" name="submit">
              
            </div>
          </form>
        </div>
      </div>
    </div>