
	<div class="limiter">
      <div class="container-login100">
        <div class="login100-more" style="background-image: url('assets/images/tourisme.jpg');">
          <div class="contair">
            <div class="txt" id="txt5" ><p style="color: #000;">Depuis les années 1980, la France est la première destination touristique au monde avec plus de 84 millions de touristes par an. Acheter un bien immobilier dans une résidence de tourisme en France permet de diversifier son patrimoine en se positionnant sur un secteur en forte progression. Les programmes immobiliers dans le tourisme sont situés dans des zones à fort potentiel avec des gestionnaires spécialisés.</p></div>
            <div class="txt"id="txt1" >
                <h3>Résidence de tourisme</h3>
              <p><br>La résidence de tourisme est un établissement commercial d'hébergement classé, faisant l'objet d'une exploitation permanente ou saisonnière. Elle est constituée d'un ensemble homogène de chambres ou d'appartements meublés, disposés en unités collectives ou pavillonnaires, offert en location pour une occupation à la journée, à la semaine ou au mois à une clientèle touristique qui n'y élit pas domicile. Elle est dotée d'un minimum d'équipements et de services communs. Elle est gérée dans tous les cas par une seule personne physique ou morale. Une résidence de tourisme peut être composée de natures d'hébergement variées : appartement, chambre, mobile home (type camping). Les résidences de tourisme classées le sont selon les nouvelles normes Atout France en vigueur depuis juillet 2012. Elles sont classées de 1 à 5 étoiles.</p></div>
            <div class="txt"id="txt2" >
                <h3>Propriétaire en résidence de tourisme : vos avantages</h3>

              <p> 
             <br>100% propriétaire d'un patrimoine immobilier haut de gamme;<br>le gestionnaire, Gpatrimoine, vous garantit le versement de loyers (fixes et sécurisés);<br>Gpatrimoine vous permet d'économiser la TVA, grâce au financement hors taxes;<br>Aucun frais de fonctionnement (eau, électricité, chauffage, taxe d'habitation)**</p></div>
            <div class="txt"id="txt3" >
                <h3>La possibilité d’occupation d’un investissement en résidence de tourisme</h3>
              <p>
               
                <br>Contrairement à un investissement classique en résidence de services, l’investissement dans une résidence de tourisme est particulier puisque l’investisseur pourra occuper son investissement. Le fonctionnement est tel que lors d’une acquisition d’un appartement dans une résidence de tourisme, en plus des rendements garantis, l’acquéreur pourra profiter lui-même de son bien situé à la plage ou en montagne. En effet, plusieurs promoteurs proposent aux investisseurs de bénéficier durant un certain moment d’une occupation du bien et ceci chaque année sans occuper forcément le logement acheté puisqu’il pourra en occuper un autre similaire. Ce fonctionnement est positif pour l’investisseur qui veut profiter de son acquisition dans une résidence de tourisme. </p></div>
            <div class="txt"id="txt4" >
                <h3>Une évaluation de votre logement de 1 à 5 étoiles</h3>

              <p>
                <br>La notation de votre bien, entre 1 et 5 étoiles, dépend principalement des services proposés, des équipements et de l’accessibilité. Au total, pas moins de 112 critères sont pris en compte ! Autant de potentiels atouts pour convaincre les vacanciers... Villas, appartements et studios peuvent être classés meublés de tourisme, qu’ils soient loués à la journée, à la semaine ou au mois. Le locataire ne doit pas y élire domicile car le bail doit être conclu pour une durée de 90 jours maximum à la même personne.</p></div>
            
          </div>
          
          
          <div class="cont_btn">
            <input type="submit" class="btn" name="btn"  id="btn1" value="Résidence ">
            <input type="submit" class="btn" name="btn"  id="btn2" value="Avantages">
            <input type="submit" class="btn" name="btn"  id="btn3" value="L’occupation  ">
            <input type="submit" class="btn" name="btn"  id="btn4" value="évaluation  ">
          </div>
          
        </div>
  
        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
          <form method="POST" class="register-form" id="register-form" novalidate="novalidate">
            <div><p style="color: #393939;text-align: center;">Déposez votre demande et recevez une simulation d'investissement adaptée par l'un de nos partenaires.</p></div>
            <div class="form-radio-group" id="form_rd">            
                  <div class="form-radio-item">
                    <input type="radio" name="sexe" id="Femme" checked="">
                    <label for="Femme">Femme</label>
                    <span class="check"></span>
                  </div>
                  <div class="form-radio-item">
                    <input type="radio" name="sexe" id="Homme">
                    <label for="Homme">Homme</label>
                    <span class="check"></span>
                  </div>
                  
                </div>
            <div class="form-row">
              <div class="form-group">
                <div class="form-input">
                  <label for="first_name" class="required">Nom</label>
                  <input type="text" name="first_name" id="first_name">
                </div>
                <div class="form-input">
                  <label for="last_name" class="required">Prenom</label>
                  <input type="text" name="last_name" id="last_name">
                </div>
                <div class="form-input">
                  <label for="company" class="required">Code Postal</label>
                  <input type="text" name="company" id="company">
                </div>
                <div class="form-input">
                  <label for="email" class="required">Email</label>
                  <input type="text" name="email" id="email">
                </div>
                <div class="form-input">
                  <label for="phone_number" class="required">Téléphone</label>
                  <input type="text" name="phone_number" id="phone_number">
                </div>
              </div>
          
            </div>
            
            <div class="Epargne-m">
              <label>Epargne mensuelle*</label>
              <div class="price_slider ui-slider ui-slider-horizontal">
                <div id="slider-margin1"></div>
                <span class="donate-value" id="value-lower"></span>
              </div>
            </div>
            <div class="Imposition-An*">
              <label>Imposition annuelle*</label>
              <div class="price_slider ui-slider ui-slider-horizontal">
                <div id="slider-margin2"></div>
                <span class="donate-value" id="value-lower"></span>
              </div>
            </div>
            <div>
            <input class="inp-cbx" id="cbx" type="checkbox" style="display: none;"/>
  <label class="cbx" for="cbx"><span>
      <svg width="12px" height="10px" viewbox="0 0 12 10">
        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
      </svg></span><span>J'accepte de recevoir la newsletter Gpatrimoine et ses offres.</span></label>
      <input class="inp-cbx" id="cb" type="checkbox" style="display: none;"/>
  <label class="cbx" for="cb"><span>
      <svg width="12px" height="10px" viewbox="0 0 12 10">
        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
      </svg></span><span>J'accepte de recevoir les offres partenaires.</span></label>
      </div>
            <div class="form-submit">
              <input type="submit" value="Submit" class="submit" id="submit" name="submit">
              
            </div>
          </form>
        </div>
      </div>
    </div>