
	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('assets/images/gpatri.jpg');">
				<div class="contair">
					<div class="txt" id="txt5" >
						<p style="color: #000;">
							La loi Pinel Recentrée ou loi Pinel 2018 est le nouveau dispositif Pinel applicable depuis le 1er janvier 2018, il a pris le relais de la loi Pinel classique qui s'est arrêté au 31 décembre 2017.
							La loi Pinel est un dispositif de défiscalisation qui s'adresse aux particuliers qui souhaitent investir dans un logement neuf dédié à la location.
							Cette nouvelle législation spécifique au secteur immobilier privé, concerne tout investissement réalisé par un contribuable domicilié en France, qui acquiert un logement neuf ou en état futur d’achèvement. 
						</p>
					</div>
					<div class="txt" id="txt1" >
              <h3>
									La loi Pinel
							</h3>
						<p>
							
							Si vous souhaitez payer moins d’impôts tout en vous constituant un patrimoine immobilier, pourquoi ne pas profiter des avantages du Pinel ? Ce dispositif permet de déduire fiscalement jusqu’à 21% du prix d’acquisition d’un logement neuf Pour rappel, l’avantage fiscal du dispositif Pinel devait être supprimé fin 2017, mais le gouvernement a souhaité le maintenir pendant 4 ans. Une bonne nouvelle, d’autant que cette mesure a permis de soutenir le secteur de la construction en France ces dernières années. En clair, en optant pour l'investissement loi Pinel, vous deviendrez non seulement propriétaire d’un bien neuf, mais bénéficierez aussi de jusqu’à 63 000 € de réductions sur vos impôts et participerez à la reprise de l’économie ! 
							</p>
					</div>
					<div class="txt"id="txt2" >
              <h3>
									Les avantages fiscal de la loi Pinel
							</h3>
						<p>
							
							Avec le dispositif Pinel, le gouvernement encourage l'investissement des particuliers dans un secteur en crise et prévoit, par la même occasion, une augmentation des offres locatives sur le marché.

							En effet, le contribuable français pourra déduire de ses impôts jusqu'à 21% du montant de son investissement, là où les lois Scellier et Duflot ne prévoyaient que 13% et 18% de réduction.

							Pour bénéficier de cet avantage fiscal, le particulier doit investir dans un bien neuf, répondant aux normes écologiques du bâtiment et s'engager à le louer durant une période déterminée de 6, 9 ou 12 ans. A ces trois paliers correspondent respectivement des réductions d'impôt de 12%, 18% ou 21%.		
						</p>
					</div>
					<div class="txt"id="txt3" >
            	<h3>
									Mieux comprendre le zonage de la loi Pinel
							</h3>
						<p>
						
							Le logement doit être situé dans la zone A bis, A ou B1 du nouveau zonage territorial ou “zonage Pinel” définissant les zones de marché immobilier "tendu" .
							A savoir : Un logement situé en zone B2 (villes de plus de 50 000 habitants)
peut également être éligible aux avantages du dispositif Pinel en cas d’agrément de la préfecture.
						</p>
					</div>
				
					
				</div>
				
				<div class="cont_btn">
					<input type="submit" class="btn" name="btn"  id="btn1" value="Pinel">
					<input type="submit" class="btn" name="btn"  id="btn2" value="AFLP">
					<input type="submit" class="btn" name="btn"  id="btn3" value="Comprendre LP">
				
				</div>
				
			</div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form method="POST" class="register-form" id="register-form" novalidate="novalidate">
					<div><p style="color: #393939;text-align: center;">Déposez votre demande et télécharger votre guide gratuitement en attendant de recevez une simulation d'investissement adaptée par l'un de nos partenaires.</p></div>
					<div class="form-radio-group" id="form_rd">            
								<div class="form-radio-item">
									<input type="radio" name="sexe" id="Femme" checked="">
									<label for="Femme">Femme</label>
									<span class="check"></span>
								</div>
								<div class="form-radio-item">
									<input type="radio" name="sexe" id="Homme">
									<label for="Homme">Homme</label>
									<span class="check"></span>
								</div>
								
							</div>
					<div class="form-row">
						<div class="form-group">
							<div class="form-input">
								<label for="first_name" class="required">Nom</label>
								<input type="text" name="first_name" id="first_name">
							</div>
							<div class="form-input">
								<label for="last_name" class="required">Prénom</label>
								<input type="text" name="last_name" id="last_name">
							</div>
							<div class="form-input">
								<label for="company" class="required">Code Postal</label>
								<input type="text" name="company" id="company">
							</div>
							<div class="form-input">
								<label for="email" class="required">Email</label>
								<input type="text" name="email" id="email">
							</div>
							<div class="form-input">
								<label for="phone_number" class="required">Téléphone</label>
								<input type="text" name="phone_number" id="phone_number">
							</div>
						</div>
				
					</div>
					
					<div class="Epargne-m">
						<label>Epargne mensuelle*</label>
						<div class="price_slider ui-slider ui-slider-horizontal">
							<div id="slider-margin1"></div>
							<span class="donate-value" id="value-lower"></span>
						</div>
					</div>
					<div class="Imposition-An*">
						<label>Imposition annuelle*</label>
						<div class="price_slider ui-slider ui-slider-horizontal">
							<div id="slider-margin2"></div>
							<span class="donate-value" id="value-lower"></span>
						</div>
					</div>
					<div>
					<input class="inp-cbx" id="cbx" type="checkbox" style="display: none;"/>
<label class="cbx" for="cbx"><span>
    <svg width="12px" height="10px" viewbox="0 0 12 10">
      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
    </svg></span><span>J'accepte de recevoir la newsletter Gpatrimoine et ses offres.</span></label>
    <input class="inp-cbx" id="cb" type="checkbox" style="display: none;"/>
<label class="cbx" for="cb"><span>
    <svg width="12px" height="10px" viewbox="0 0 12 10">
      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
    </svg></span><span>J'accepte de recevoir les offres partenaires.</span></label>
    </div>
					<div class="form-submit">
						<input type="submit" value="Submit" class="submit" id="submit" name="submit">
						
					</div>
				</form>
			</div>
		</div>
	</div>